body{ margin: 0; }
body > nav,
body > div {
    padding: 25px 10vw;
}

/* Navigation */

nav {
    width: 80vw;
    position: fixed;
    height: 30px;
    background-color: transparent;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: #EEEEEE;

    font-family: 'Righteous', cursive;
}

#nav-title {
    height: 100%;
    font-size: 24px;
    background-image: linear-gradient(to right, white, #E0E0E0);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#nav-right {
    height: 100%;
    width: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    float: right;
}

/* Layout */

.title-container {
    width: 35vw;
}

.container {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-col {
    height: calc(100vh - 130px);

    display: flex;
    align-items: center;
    padding-top: 80px;

    flex-direction: column;
}

.wide-container {
    width: 80%;

    display: flex;
    flex-direction: column;
}

.gradient {
    background-image: linear-gradient(to bottom right, #858BF4, #5F65DC);
}

/* Text Styles */

.title-on-color {
    font-family: 'Righteous', cursive;
    color: white;
}
h1.title-on-color {
    font-size: 40px;
}

.title-on-color-desc {
    font-family: 'Righteous', cursive;
    color: white;
}

.sub-title {
    font-family: 'Righteous', cursive;

    color: #444444;
    border-bottom: solid 1px #444444;
}


.container-col {
    height: calc(100vh - 130px);

    display: flex;
    align-items: center;
    padding-top: 80px;

    flex-direction: column;
}

.wide-container {
    width: 80%;

    display: flex;
    flex-direction: column;
}
